/* ---------- About ---------- */

.about {
  @include flex-row;
}

.about__box {
  @include flex-col;

  flex: 1 1 320px;
  align-items: center;
  border: 3px solid $terziary-color;
  border-radius: 10px;
  padding: 1em;
  text-align: justify;
  margin: 2em 1em;
}

.about__icon {
  border-radius: 50%;
  display: block;
  border: 3px solid $secondary-color;
  padding: 1em;
}
