/* ---------- About ---------- */

.about {
  @include flex-col;
}

.about__box {
  @include flex-col;

  align-items: center;
  border: 3px solid $terziary-color;
  border-radius: 10px;
  padding: 1em;
  text-align: justify;
  margin-bottom: 2em;
}

.about__icon {
  border-radius: 50%;
  display: block;
  border: 3px solid $secondary-color;
  padding: 1em;
}
