/* ---------- Contact ------------- */
.contact {
  @include flex-col;

  form {
    @include flex-col;

    input[type="submit"] {
      background-color: $secondary-color;
      color: $solid-black;
      padding: 1em;
      border-radius: 5px;

      &:focus,
      &:hover {
        background-color: $terziary-color;
        border-radius: 0;
      }
    }
  }

  h2 {
    text-align: center;
  }
}

.contact__input {
  margin-top: 0.5em;
  margin-bottom: 2em;
  padding: 0.5em;
  border-radius: 5px;
}
