/* ---------- Credits ---------- */

.credits {
  flex: 1 1 100%;
  text-align: center;

  a {
    color: lighten($secondary-color, 30);

    &:focus,
    &:hover {
      color: $primary-color;
    }
  }
}
