@import "variables";

/* ------------ General Styles----------- */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  height: 100vh;
  background-image: url("../images/idea_2x_small.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
}
