/* ---------- Headings ------------ */
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lekton", sans-serif;
}

h1 {
  font-family: "Anonymous Pro", "Courier New", Courier, monospace;
  padding: 1em;
  font-size: 2.5em;
  background-color: rgba($primary-color, 0.3);

  .secondary-color {
    color: $secondary-color;
  }

  .terziary-color {
    color: $terziary-color;
  }
}

.secondary-heading {
  font-size: 2em;
}

.terziary-heading {
  font-size: 1.7em;
  color: $secondary-color;
  font-weight: bold;
}
