/* ------------ Media Queries--------------- */
@include mediaSm {
  h1 {
    font-size: 3em;
  }

  .contact {
    padding: 2em;
  }
}

@include mediaMd {
  header {
    background-image: url("../images/idea_2x_large.jpg");
  }

  .staff__goals {
    flex-wrap: nowrap;
  }

  .staff__wrapper {
    margin: 0 1em;
    flex: 50%;
  }

  .staff__presentation {
    margin-top: 0;
  }

  .staff__img {
    background-image: url(../images/thestaff_medium_2x.jpg);
    background-size: cover;
    height: 500px;
    flex: 50%;
  }
}

@include mediaMd2 {
  header {
    position: relative;
  }

  h1 {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-10%, -10%);
  }
}

@include mediaLg {
  header {
    background-image: url("../images/idea_2x_xl.jpg");
  }

  h1 {
    font-size: 4em;
  }

  .secondary-heading {
    font-size: 2em;
  }

  .contact,
  .services,
  .social {
    flex: 30%;
  }
}

@include mediaXl {
  h1 {
    font-size: 5em;
  }

  .about__box {
    flex: 25%;
  }

  .staff,
  .about,
  .feedback,
  .footer {
    padding: 8em 6em;
  }

  .staff__img {
    height: 600px;
  }
}
