@import "variables";

/* -------- Nav -------------- */
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.logo {
  display: block;
  max-width: 100px;
  margin-right: auto;
}

.menu__btn {
  border: none;
  background-color: transparent;
}

.menu-line {
  background-color: $primary-color;
  width: 24px;
  height: 3px;
  display: block;
  margin: 3px;
}

.main-nav {
  display: none;
  flex: 100%;
  list-style-type: none;
  flex-flow: column wrap;
  margin: 0;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
}

.main-nav__item {
  // display: none;
  padding: 0.5em;
}

.main-nav__link {
  color: $primary-color;
  font-size: 1.3em;

  &:visited {
    color: $primary-color;
  }

  &:focus,
  &:hover {
    color: $solid-black;
  }
}
