/* -------- Navigation -------------- */

.logo {
  display: block;
  max-width: 100px;
  margin-right: auto;
}

.menu__btn {
  border: none;
  background-color: transparent;
}

.menu-line {
  background-color: $primary-color;
  width: 24px;
  height: 3px;
  display: block;
  margin: 3px;
  transition: all 0.2s linear;
}

.js-menu-line--cross:first-of-type {
  transform: rotate(45deg);
}

.js-menu-line--cross:nth-of-type(2) {
  visibility: hidden;
}

.js-menu-line--cross:nth-of-type(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}

.main-nav {
  flex: 100%;
  display: none;
  list-style-type: none;
  flex-flow: column wrap;
  margin: 0;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.js-main-nav--open {
  display: flex;
}

.main-nav__item {
  padding: 0.5em;
}

.main-nav__link {
  color: $primary-color;
  font-size: 1.3em;

  &:visited {
    color: $primary-color;
  }

  &:focus,
  &:hover {
    color: $solid-black;
  }
}
