/* ---------- General mixins ---------- */

@mixin flex-col {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

@mixin easeInOut {
  transition: all 0.2s ease-in-out;
}
