/* ---------- General mixins ---------- */
@mixin flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@mixin flex-col {
  display: flex;
  flex-flow: column wrap;
}

@mixin easeInOut {
  transition: all 0.4s ease-in-out;
}

// Media queries mixin

@mixin mediaSm {
  @media screen and (min-width: 400px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin mediaMd2 {
  @media screen and (min-width: 900px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1500px) {
    @content;
  }
}
