/* ---------- General mixins ---------- */
@mixin flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@mixin flex-col {
  display: flex;
  flex-flow: column wrap;
}

@mixin easeInOut {
  transition: all 0.4s ease-in-out;
}
